<footer class="footer">
  <div class="footer-inner">
    <nav class="footer-links" aria-label="Footer">
      <%= link_to "docs", docs_path %>
      <%= link_to "roadmap", roadmap_path %>
      <%= link_to "blog", blog_path %>
      <%= link_to "privacy", privacy_path %>
      <%= link_to "terms", terms_path %>
    </nav>
    <p class="footer-contact"><a href="mailto:<%= @contact_email %>"><%= @contact_email %></a></p>
    <p class="footer-trademark">devopsellence is a trademark of its owner. Heroku is a trademark of Salesforce, Inc. devopsellence is not affiliated with or endorsed by Salesforce.</p>
  </div>
</footer>
